
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="perfil-bg">
  <ion-row>
    <ion-col col12 col-md-4 col-lg-2 *ngFor="let u of usuarios" >
      <ion-card color="primary" margin-right margin-left margin-top>
        <ion-card-header>{{u.nombre}}</ion-card-header>
        <img src="{{u.imagen}}" alt="">
        <ion-card-content>
          <div><ion-icon name="home">{{u.direccion}}</ion-icon></div>
          <div><ion-icon name="call">{{u.contacto}}</ion-icon></div>
          <div><ion-icon name="help-buoy">{{u.edad}}</ion-icon></div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col12 col-md-4 col-lg-2 *ngFor="let m of mascotas">
      <ion-card color="secondary" margin-right margin-left margin-top>
        <ion-card-header>{{m.nombre}}</ion-card-header>
        <img src="{{m.imagen}}" alt="">
        <ion-card-content>
          <div><ion-icon name="analytics">{{m.raza}}</ion-icon></div>
          
          <div><ion-icon name="help-buoy">{{m.edad}}</ion-icon></div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <button ion-col col-6 col-md-3 offset-md-7 col-lg-2 offset-lg-8 ion-button color="secondary" round (click)="logout()">Cerrar sesión</button>
  </ion-row>
</ion-content>
