page-perfil {
    .perfil-bg{
        background-image: url("../../assets/img/perfil_bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    
}
