page-perfil {
    ion-content{
        background-color: transparent !important;
    }

    .perfil-bg{
        background-image: url("../../assets/img/perfil_bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .perfil-title{
        font-family: pacifico;
        color: #182496;
        font-size: 2em;
        text-align: center;
    }

    .mascota-title{
        font-family: pacifico;
        color: #8439CA;
        font-size: 2em;
        text-align: center;
    }

    .marco{
        background: #4832C4;
    }
    
}
