page-vets {
    .vet-bg{
        background-image: url("../../assets/img/perfil_bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        p{
            font-size:1em;
            text-align:center;
        }
    }

    .vet-title{
        font-family: pacifico;
        color: #182496;
        font-size: 2em;
        text-align: center;
    }

    .col-vet{
        background: #6BC9CC;
        border:  solid black;
        }
    
    .card-background-page {
            
        ion-card {
            position: relative;
            text-align: center;
            }
            
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #000;
            }
            
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #000;
            }
            
        }

        #floating-panel {
            position: absolute;
            top: 10px;
            right: 5px;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
          }
          #map {
            height: 100%;
          }
}
