<ion-header>
  <ion-navbar>
    <ion-title color="primary">Veterinarios</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="vet-bg">
  <h1 class="vet-title" margin-top>¿Buscas un veterinario?</h1>
  <ion-label>Tenemos algunos recomendados para ti</ion-label>
  <div>
    <ion-row>
      <ion-col col12 col-md-4 col-lg-2 *ngFor="let v of veterinarios">
        <ion-card color="secondary" margin-right margin-left margin-top>
          <ion-card-header>{{v.nombre}}</ion-card-header>
          <img src="{{v.imagen}}" alt="">
          <ion-card-content>
            <div>
              <ion-icon name="home">{{v.direccion}}</ion-icon>
            </div>
            <div>
              <ion-icon name="call">{{v.contacto}}</ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <br>
  

  <div id="floating-panel">
      <b>Start: </b>
      <select [(ngModel)]="start" id="start" (change)="calculateAndDisplayRoute()">
        <option value="chicago, il">Chicago</option>
        <option value="st louis, mo">St Louis</option>
        <option value="joplin, mo">Joplin, MO</option>
        <option value="oklahoma city, ok">Oklahoma City</option>
        <option value="amarillo, tx">Amarillo</option>
        <option value="gallup, nm">Gallup, NM</option>
        <option value="flagstaff, az">Flagstaff, AZ</option>
        <option value="winona, az">Winona</option>
        <option value="kingman, az">Kingman</option>
        <option value="barstow, ca">Barstow</option>
        <option value="san bernardino, ca">San Bernardino</option>
        <option value="los angeles, ca">Los Angeles</option>
      </select><br>
      <b>End: </b>
      <select [(ngModel)]="end" id="end" (change)="calculateAndDisplayRoute()">
        <option value="chicago, il">Chicago</option>
        <option value="st louis, mo">St Louis</option>
        <option value="joplin, mo">Joplin, MO</option>
        <option value="oklahoma city, ok">Oklahoma City</option>
        <option value="amarillo, tx">Amarillo</option>
        <option value="gallup, nm">Gallup, NM</option>
        <option value="flagstaff, az">Flagstaff, AZ</option>
        <option value="winona, az">Winona</option>
        <option value="kingman, az">Kingman</option>
        <option value="barstow, ca">Barstow</option>
        <option value="san bernardino, ca">San Bernardino</option>
        <option value="los angeles, ca">Los Angeles</option>
      </select>
      </div>
      <div #map id="map"></div>

  <br>
  <ion-label>Lista completa de veterinarios en Popayán</ion-label>
  <div class="col-vet" margin-top>
    
    <br>
    <ion-row>
      <ion-col col-4>Nombre</ion-col>
      <ion-col col-4>Dirección</ion-col>
      <ion-col col-4>Numero de contacto</ion-col>

    </ion-row>
    <ion-row *ngFor="let v of veterinarios">
      <ion-col col-4>{{v.nombre}}</ion-col>
      <ion-col col-4>{{v.direccion}}</ion-col>
      <ion-col col-4>{{v.contacto}}</ion-col>

    </ion-row>
  </div>

</ion-content>