<ion-header>
  <ion-navbar>
    <ion-title color="primary">Veterinarios</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="vet-bg">
  <h1 class="vet-title" margin-top>¿Buscas un veterinario?</h1>
  <ion-label>Tenemos algunos recomendados para ti</ion-label>
  <div>
    <ion-row>
      <ion-col col12 col-md-4 col-lg-2 *ngFor="let v of veterinarios">
        <ion-card color="secondary" margin-right margin-left margin-top>
          <ion-card-header>{{v.nombre}}</ion-card-header>
          <img src="{{v.imagen}}" alt="">
          <ion-card-content>
            <div>
              <ion-icon name="home">{{v.direccion}}</ion-icon>
            </div>
            <div>
              <ion-icon name="call">{{v.contacto}}</ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <br>


  <div id="floating-panel"></div>
  <div #map id="map"></div>

  <br>
  <ion-label class="vet-title">Lista completa de veterinarios</ion-label>
  <div class="col-vet" margin-top>

    <br>
    <ion-row>
      <ion-col col-4>Nombre</ion-col>
      <ion-col col-4>Dirección</ion-col>
      <ion-col col-4>Numero de contacto</ion-col>

    </ion-row>
    <ion-row *ngFor="let u of vets">
      <ion-col col-4>{{u.nombre}}</ion-col>
      <ion-col col-4>{{u.direccion}}</ion-col>
      <ion-col col-4>{{u.contacto}}</ion-col>

    </ion-row>
  </div>
  <label>Ingresa tus veterinarios</label>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="goToAddVet()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>