page-add-vet {
    .add-vet-bg{
        background-image: url("../../assets/img/add-vet_bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
