
<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Bitácora</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bitacora-bg ">
    <h1 class="bitacora-title" margin-top>Carnet de vacunación</h1>
    <br><br>
    <div class="col">
      
      <ion-row >
        <ion-col col-4 col-md-3 offset-md-1 col-lg-2 offset-lg-2>Fecha</ion-col>
        <ion-col col-4 col-md-3 col-lg-2> Vacuna</ion-col>
        <ion-col col-4 col-md-3 col-lg-2>Doctor</ion-col>
      </ion-row>
      <ion-row  *ngFor="let v of vacunas">
        <ion-col>{{v.fecha}}</ion-col>
        <ion-col>{{v.enfermedad}}</ion-col>
        <ion-col>{{v.veterinario}}</ion-col>
      </ion-row>
    </div>
    <br><br>
    <h2 class="bitacora-title" margin-top>Desparasitaciones</h2>
    <div class="col">
      
      <ion-row >
        <ion-col col-3>Fecha</ion-col>
        <ion-col col-3>Peso</ion-col>
        <ion-col col-3>Producto</ion-col>
        <ion-col col-3>Prox.Aplicacion</ion-col>
      </ion-row>
      <ion-row  *ngFor="let p of parasitos">
        <ion-col>{{p.fecha}}</ion-col>
        <ion-col>{{p.peso}} kg</ion-col>
        <ion-col>{{p.producto}}</ion-col>
        <ion-col col-3>{{p.proxima}}</ion-col>
      </ion-row>
    </div>
    <br><br>

   <calendar [eventSource]="eventSource"
   [calendarMode]="calendar.mode"
   [currentDate]="calendar.currentDate"
   (onEventSelected)="onEventSelected($event)"
   (onTitleChanged)="onViewTitleChanged($event)"
   (onTimeSelected)="onTimeSelected($event)"
   step="30"
   class="calendar">
   </calendar>
   <ion-fab right bottom>
    <button ion-fab color="danger" (click)="goToAdd()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab left bottom>
    <button ion-fab color="dark" (click)="addEvent()"><ion-icon name="calendar"></ion-icon></button>
  </ion-fab>
</ion-content>


