page-bitacora {
    
        .bitacora-bg{
            background-image: url("../../assets/img/perfil_bg.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .bitacora-title{
            font-family: pacifico;
            color: #182496;
            font-size: 2em;
            text-align: center;
        }
        
        .col{
            background: white;
            border:  solid black;
            }

        
    
}
